.vscode/**
.github/**
.gitignore
fixtures/**
scripts/**
src/**
.oxfmtrc.json
.oxlintrc.json
tsdown.config.ts
tsconfig.json
vitest.config.ts
package-lock.json
*.vsix
resources/icon.svg
dist/**/*.map
dist/**/*.cjs
dist/test/**
out-test/**
