.vscode/**
.gitignore
fixtures/**
scripts/**
src/**
.oxfmtrc.json
.oxlintrc.json
tsdown.config.ts
tsconfig.json
vitest.config.ts
pnpm-lock.yaml
*.vsix
resources/icon.svg
dist/**/*.map
dist/**/*.cjs
dist/test/**
out-test/**
